/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Mar, 2021, 7:38:46 AM
    Author     : Debasish
*/

body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
}

.loginBox
{
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 5px;
    min-height: 200px;
    min-width: 400px;
    text-align: center;
    align-content: center;
    border: #000 1px solid;
}

.loginBox .input-group
{
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

.loginBox .btn
{
    margin: auto;
    margin-bottom: 20px;
}

.bground{
    background-image: url("../images/pexels-tatiana-fet-1105766.jpg");
}

.profile_section
{
    background-color: #eeeeee;
    border-radius: 10px;
    min-height: 200px;
    text-align: center;
    padding-top: 5px;
    
}

.profile_pic
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: aqua;
    margin: auto;
    font-size: 80px;
    color: white;
}

.carousel_section
{
    background-color: #eeeeee;
    border-radius: 10px;
    min-height: 200px;
    max-height: 200px;
}

.carousel_img
{
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    border-radius: 10px;
}